$brand-color:         #0c1b24;
$highlight:           lighten($brand-color, 35%);
$text-color:          #EDEDED;
$muted-text-color:    #19b370;
$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;

$author:              "demie tranger"